@import './base.css';

/* Fonts Section */

@font-face {
  font-family: 'EdwardFont';
  src: url('@/assets/fonts/edwardfont.ttf') format('truetype');
}

@font-face {
  font-family: 'GeorgiaProCond';
  src: url('@/assets/fonts/georgiaprocond.ttf');
}

@font-face {
  font-family: 'GeistRegular';
  src: url('@/assets/fonts/geist-regular.otf');
}

@font-face {
  font-family: 'DMSansBold';
  src: url('@/assets/fonts/dmsans-bold.ttf');
}

@font-face {
  font-family: 'DMSansRegular';
  src: url('@/assets/fonts/dmsans-regular.ttf');
}

@font-face {
  font-family: 'EdwardianFont';
  src: url('@/assets/fonts/edwardianscriptitc.ttf');
}
