@import './base.css';

/* Fonts Section */

@font-face {
  font-family: 'EdwardFont';
  src: url('@/assets/fonts/edwardfont.ttf') format('truetype');
}

@font-face {
  font-family: 'GeorgiaProCond';
  src: url('@/assets/fonts/georgiaprocond.ttf');
}

@font-face {
  font-family: 'GeistRegular';
  src: url('@/assets/fonts/geist-regular.otf');
}
